* {
  padding: 0;
  margin: 0;
}

.animated.fastest {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

.animated.slowest {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
